* {
    /*We use the universal selector to remove the default settings of browser*/
    margin: 0;
    padding :0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

/*--------------------------- GRID CONTAINER ----------------------------*/


#game-view {
    width: 80%;
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: blueviolet;
}



/*------------------------- GRID PLACEMENT ------------------------------*/

.div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-title {
    margin-top: 20px;
    margin-left: 20px;
    /*Same as grid column: span 2*/
    grid-column-start: span 2;
    grid-column-end: auto; 
    background-color: brown;
}

#div-button {
    margin-left: 20px;
    margin-bottom: 20px;
    grid-area: 2 / 1 / 3 / 3;
    background-color: antiquewhite;
    order: 1;
    display: flex;
    flex-direction: column;
}

#div-board {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    margin: 100px 20px 100px 0;
    grid-area: 1 / 3 / 3 / 5;
    background-color: aqua;
    gap: 1px;
}

/*------------------------- GRID GAME ------------------------------*/




/*--------------------------- ELEMENTS ----------------------------*/

#title {
    font-family: 'Rubik Glitch Pop', system-ui;
    font-size: 20px;
}

.div-grid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.img1 {
    width: 20%;
}


