@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";


* {
    /*We use the universal selector to remove the default settings of browser*/
    margin: 0;
    padding :0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0F0F0F;

}

/*--------------------------- GRID CONTAINER ----------------------------*/


#game-view {
    /*If we want to make child elements absolute, we need to set it to relative*/
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: url("./Assets/images/background.png");
    background-size: cover;
    padding-top: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/*------------------------- GRID PLACEMENT ------------------------------*/

.div {
    display: flex;
    align-items: center;
    justify-content: center;
}


#div-title {
    margin: 0 120px 0 40px;
    padding: 10px 70px;
    /*Same as grid column: span 2*/
    grid-area: 1 / 1 / 2 / 4;
}

#start {
    margin: 100px, 30px, 20px, 40px;
    padding: 10px 70px;
    /*Same as grid column: span 2*/
    grid-area:  2 / 3 / 3 / 5;
}

#div-button {
    margin: 100px, 30px, 30px, 0;
    grid-area: 3 / 3 / 4 / 5;
    order: 1;
    display: flex;
    flex-direction: column;
}

#div-information {
    width: 200px;
    height: 150px;
    margin: 0 0 0 50px;
    padding: 10px 0 0 20px;
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: #F2ECBE;
    font-family: Rancho;
    font-size: 30px;
}


#div-board {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    margin: 0 10px 0 80px;
    padding: 200px 150px;
    grid-area: 1 / 1 / 4 / 3; 

    gap: 1px;

}



/*--------------------------- ELEMENTS 1st DIV ----------------------------*/

#title {
    padding: 0;
    text-align: center;
    font-family: Rancho;
    font-size: 90px;
}


/*------------------------ ELEMENTS 2nd DIV - DICE ----------------------------*/

.img1 {
    width: 20%;
    margin: 0 300px 30px 0;
    
}

#start-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 300px 0 0;
    background-color: brown;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#throw-dice{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 300px 80px 0;
    background-color: brown;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*---------------------- ELEMENTS 3rd DIV - Information ----------------------------*/






/*---------------------- ELEMENTS 4th DIV - GameBoard ----------------------------*/

.div-grid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.white {
    background-color: #5D3D43;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.black {
    background-color: #C88D7A;
    background-size: cover;
    width: 50px;
    height: 50px;
}


#player {
    
    background: url("./Assets/images/player.gif");
    background-size: cover;
    width: 50px;
    height: 50px;

}
#playerBoiling {
    
    background: url("./Assets/images/boiling.gif");
    background-size: cover;
    width: 50px;
    height: 50px;

}

.lava {
    
    background: url("./Assets/images/lava.gif");
    background-size: cover;
    width: 50px;
    height: 50px;

}


.furniture {
    
    background: url("./Assets/images/wood.png");
    background-size: cover;
    width: 50px;
    height: 50px;


}

/*---------------------- Toasts GameOver / You're saved ----------------------------*/


#game-over {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 40%;

    background: url("./Assets/images/gameOver.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute;
    /*This 2 properties are meant for positioning:*/
    top: 25%;
    left: 25%;

    border: none;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#game-over h1{
    text-align: center;
    font-family: Rancho;
    font-size: 80px;
}

#you-won {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 40%;

    background: url("./Assets/images/saved.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute;
    /*This 2 properties are meant for positioning:*/
    top: 25%;
    left: 25%;

    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    color: white;

    border: none;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#restart-game-lose {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: brown;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#restart-game-won {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: brown;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


