* {
    /*We use the universal selector to remove the default settings of browser*/
    margin: 0;
    padding :0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#title {
    font-family: 'Rubik Glitch Pop', system-ui;
    font-size: 20px;
}



